@import '../../common/colors.scss';

.movie-section {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap: 20px;
  padding: 40px 0px;
  color: $font-primary;
  font-weight: 400;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-rating {
  padding: 6px;
  margin-top: 20px;
  color: $font-primary;
  display: flex;
  span {
    margin-right: 20px;
  }
  border-bottom: 1px solid $font-primary;
  border-radius: 10px;
}

.movie-title {
  font-size: 40px;
  color: rgb(51, 115, 189);
  font-weight: 600;
}
.movie-plot {
  margin-top: 20px;
  line-height: 1.8rem;
  font-size: 16px;
  font-weight: 300;
  color: rgb(202, 192, 192);
}
.movie-info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  div {
    margin-right: 20px;
  }
}

.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
}

.movie-info > div {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
.movie-info > div span:first-child {
  padding: 7px 0px;
  color: $font-primary;
  font-weight: 600;
  width: 100px;
  display: inline-block;
}

.movie-info > div span {
  color: goldenrod;
}

.fa-star {
  color: #ff9e00;
}
.fa-thumbs-up {
  color: #fafafa;
}

.fa-film {
  color: rgb(191, 213, 214);
}

.fa-calendar {
  color: peachpuff;
}

.section-right {
  margin-left: 30px;
}

@media screen and (min-width: 1440) {
  .movie-section {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1024) {
  .movie-section {
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .movie-section {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}
